@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
/*RESET*/
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-size: 100%;
  line-height: 1.3;
  cursor: default;
}

a {
  transition: 0.3s all;
  text-decoration: none;
}

/*
  ========================================
  Typography
  ========================================
*/
b, strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

/*
  ========================================
  Img
  ========================================
*/
img,
picture,
video,
embed,
object {
  max-width: 100%;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/**/
body {
  background: #05193b;
  font-family: "Montserrat", sans-serif;
  color: #00193C;
  font-weight: 400;
  letter-spacing: 0.1em;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #00193C;
}

/*CONTAINER*/
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 82.5rem;
}

@media (max-width: 64rem) {
  p {
    font-size: 1.125rem;
  }
}
@media (max-width: 56.25rem) {
  p {
    font-size: 1rem;
  }
}
/*
  ========================================
  HEADER
  ========================================
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  border-bottom: #ffffff;
  transition: 0.3s all;
}
header .container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s all;
}
header .container .logo a {
  display: block;
}
header .container .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 25px;
}
header .container .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navigation nav ul li a {
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
}
header .container .navigation nav ul li a:hover {
  color: #00193C;
}
header .container .navigation .special_links {
  display: flex;
  gap: 5px 10px;
}
header .container .navigation .special_links .no_bg {
  background: transparent;
}
header.fixed {
  background: rgba(255, 255, 255, 0.9);
}
header.fixed .container {
  height: 90px;
}
header.fixed .container .navigation nav ul li a {
  font-size: 1.125rem;
}
header.fixed .container .navigation .buttonType1 {
  font-size: 1rem;
}

/********
RESPONSIVO
********/
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  header .container .navigation nav ul li a {
    font-size: 1.125rem;
    padding: 10px 15px;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  header .container .navigation {
    position: relative;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  header .container .navigation .buttonType1 a {
    font-size: 1rem;
  }
  header .container .navigation .menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  header .container .navigation .button {
    height: 38px;
    width: 38px;
    background: #56D7AF url("../img/menu_icon.png") center no-repeat;
    transition: 0.3s all;
    border-radius: 5px;
  }
  header .container .navigation nav {
    position: absolute;
    right: 0;
    top: 38px;
    width: 200px;
    background: #ededed;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    z-index: -1;
    visibility: collapse;
    transition: 0.2s all;
    border-radius: 6px;
    box-shadow: -2px 1px 9px -4px #000000;
    border-radius: 5px 5px 5px 5px;
  }
  header .container .navigation nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  header .container .navigation nav ul li a {
    width: 100%;
    display: block;
    font-size: 1rem !important;
  }
  header .container .navigation .menu.ativo nav {
    opacity: 1;
    visibility: visible;
    z-index: inherit;
  }
  header .container .navigation .menu.ativo .button {
    background: #56D7AF url("../img/menu-close.png") center no-repeat;
  }
  header.fixed .container {
    height: 120px;
  }
  header.fixed .container .buttonType1 a {
    font-size: 1rem;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  header .container {
    height: 110px;
  }
  header .container .buttonType1 a {
    width: auto;
  }
  header.fixed .container {
    height: 110px;
  }
}
/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* TABLET - 600px*/
/* MOBILE - 400px*/
/*
  ========================================
  FOOTER
  ========================================
*/
/*
  ========================================
  INDEX
  ========================================
*/
.banner {
  height: 810px;
  background: #05193b url("../images/banner.jpg") right center no-repeat;
}
.banner .container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 22px 0;
}
.banner .container h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 0.1em;
}

/*
  ========================================
  A EMPRESA
  ========================================
*/
.contentEmpresa {
  background: #ffffff url("../images/bg_empresa.jpg") left center no-repeat;
}
.contentEmpresa .container {
  height: 560px;
  display: flex;
  justify-content: flex-end;
}
.contentEmpresa .container .content {
  background: #ffffff;
  width: 550px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 75px;
}
.contentEmpresa .container .content h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #00193C;
  padding: 0 0 0 35px;
  background: url("../images/retangulo.png") left center no-repeat;
  margin-bottom: 25px;
}
.contentEmpresa .container .content h1 mark {
  color: #56D7AF;
  background: none;
  font-weight: 700;
}
.contentEmpresa .container .content p {
  margin-bottom: 50px;
}
.contentEmpresa .container .content p b {
  font-weight: 700;
}

/*
  ========================================
  NUMEROS
  ========================================
*/
.contentNumbers {
  padding: 100px 0 180px 0;
  background: #05193b;
}
.contentNumbers .container ul {
  display: flex;
  justify-content: space-between;
  gap: 10px 15px;
}
.contentNumbers .container ul li {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: flex-start;
  border: 1px solid red;
}
.contentNumbers .container ul li span {
  display: block;
  width: 100%;
  color: #56D7AF;
  font-size: 3.125rem;
  font-weight: 700;
  height: 70px;
  margin-bottom: 15px;
}
.contentNumbers .container ul li span.text_down {
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 700;
  height: auto;
}
.contentNumbers .container ul li span.text_down small {
  display: block;
  width: 100%;
  font-size: 0.9375rem;
  font-weight: 300;
}

/*
  ========================================
  BUTTONS
  ========================================
*/
.buttonType1 {
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  height: 45px;
  border: 2px solid #56D7AF;
  background: #56D7AF;
  border-radius: 30px;
}

/*
  ========================================
  INPUTS
  ========================================
*/
.inputs input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 0.625rem 0.75rem;
  color: #00193C;
  transition: 0.3s all;
  background: #56D7AF;
  background-repeat: no-repeat;
  border: 1px solid #56D7AF;
  width: 200px;
}

.inputs input[type=submit]:hover {
  background: #00193C;
  border: 1px solid #00193C;
  background-repeat: no-repeat;
}

/* BUTTONS */
.inputs .inputs-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputs .margin {
  margin-bottom: 30px;
}

.inputs label {
  width: 100%;
  display: block;
  margin-bottom: 12px;
  font-size: 0.9375rem;
  color: #333333;
  letter-spacing: 0;
}

.inputs input {
  width: 100%;
}

.inputs input[type=text],
.inputs textarea {
  width: 100%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  padding: 0.5rem 1.5625rem;
  font-size: 1.25rem;
  font-weight: 700;
  background: #ffffff;
  border: 2px solid #00193C;
  outline: none;
  color: #00193C;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease;
  border-radius: 30px;
}

.input_center input[type=text] {
  text-align: center;
}

.inputs textarea:focus,
.inputs input:focus {
  border: 2px solid #56D7AF;
}

/**/
.inputs ::-webkit-input-placeholder {
  color: #00193C;
}

/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .inputs .margin {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .inputs select,
.inputs input[type=text],
.inputs textarea {
    padding: 8px 20px;
    font-size: 1.0625rem;
  }
}
.button_container {
  position: absolute;
  top: 101px;
  right: 35px;
  height: 27px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: #fcd634;
  border: none;
  height: 4px;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 10px;
}

.button_container span:nth-of-type(3) {
  top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  -webkit-transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 50;
}

.overlay:before {
  content: "";
  background: #252525;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: left 0.35s ease;
  transition: left 0.35s ease;
}

.overlay:after {
  content: "";
  background: #252525;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.overlay.open {
  opacity: 0.92;
  visibility: visible;
  height: 100%;
}

.overlay.open:before {
  left: 0;
}

.overlay.open:after {
  right: 0;
}

.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.overlay.open li:nth-of-type(6) {
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}

.overlay.open li:nth-of-type(7) {
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

.overlay.open li:nth-of-type(8) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.overlay nav {
  display: block !important;
  position: relative;
  height: 70%;
  top: 50%;
  padding-bottom: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  font-family: "Lato", serif;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  padding-right: 0px;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: 14.2857142857%;
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after,
.overlay ul li .ativo:after,
.overlay ul li .ativo:after,
.overlay ul li .ativo:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 5px;
  background: #fcd634;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/**/
/**/

/*# sourceMappingURL=style.css.map */
