@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

// CONTAINER VARIABLE
$largureContainer: reset.toRem(1320); // Adicionar 40px no valor do container para uso de padding no responsivo 

// VARIABLES
$ColorMain:#56D7AF;
$ColorOne:#00193C;
$ColorTwo:#ffffff;
$ColorThree:#05193b;
$ColorFour:#020a39;


/**/

body {
   background:$ColorThree;
   font-family: 'Montserrat', sans-serif;
   color:$ColorOne;
   font-weight:400;
   letter-spacing: 0.1em;
}

p {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.7;
   font-weight: 400;
   margin-bottom: 20px;
   font-size: reset.toRem(16);
   color: $ColorOne;
   letter-spacing: 0.4px;
}

// BREAKPOINTS

@mixin breakpoint($point) {
    @if $point == smashDesktopLarge {
      @media screen and (max-width: 87.5rem) { @content ; } // 1400px
   }
   @else if $point == smashDesktop {
      @media (max-width: 75rem) { @content ; } //1200px
   }
   @else if $point == smashLaptop {
      @media (max-width: 64rem) { @content ; } //1024px
   }
     @else if $point == smashTabletBig {
      @media (max-width: 56.25rem) { @content ; } //900px
   }
    @else if $point == smashTablet {
      @media (max-width: 37.5rem)  { @content ; } //600px
   }
   @else if $point == smashMobile {
      @media (max-width: 25rem)  { @content ; } //400px
   }

   @else if $point == smashContainer {
    @media (max-width: $largureContainer)  { @content ; }
   }
}



/*CONTAINER*/

.container {
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
   max-width: $largureContainer;
}

// largureContainer -> BREAKPOINT DA LARGURA DO CONTAINER

// LAPTOP - 1024px
@include breakpoint(smashLaptop) {
   p {
      font-size: reset.toRem(18);
   }
}

// TABLET BIG - 900px
@include breakpoint(smashTabletBig) {
   p {
      font-size: reset.toRem(16);
   }
}

