@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/* DESKTOP LARGE - 1400px*/ 
@include main.breakpoint(smashDesktopLarge) { }

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) { }

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { }

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smashTabletBig) { }

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) { }

/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) { }

/*
  ========================================
  FOOTER
  ========================================
*/

footer {
  background: main.$ColorMain url("../images/footer.jpg") top center no-repeat;
  margin-top: -150px;
  padding: 185px 0 40px 0;

  & .display {
    display: flex;
    gap: 0 180px;

    & .left {
      width: 280px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 100px 0;

      & .logo {
        width: 185px;
      }

      & > a {
        font-size: reset.toRem(16);
        color: main.$ColorTwo;
        font-weight: 700;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
      }

      & .social {
        display: flex;
        gap: 5px 22px;

        & li a img {
          box-shadow: 0px 13px 18px 0px #11132314;
          border-radius: 50%;
        }
      }
    } // LEFT

    & .right {
      display: flex;
      gap: 15px 90px;
      padding-top: 60px;

      & ul li {
        margin-bottom: 15px;
      }

      & a {
        font-size: reset.toRem(16);
        color: main.$ColorTwo;
        font-weight:500;
        letter-spacing: 0.5px;
      }
    }
  }

  & h2 {
    font-size: reset.toRem(22);
    color: main.$ColorTwo;
    font-weight: 700;
    margin-bottom: 15px;
  }

  & .textInfo {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
    margin-bottom: 30px;

    & div {
      width: 800px;
      font-size: reset.toRem(11);
      font-weight: 400;
      color: main.$ColorTwo;
    }
  }

  & .copy {
    font-size: reset.toRem(15);
    font-weight: 400;
    color: main.$ColorTwo;
  }
}

/********
RESPONSIVE
*********/

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  footer {
    margin-top: 0;
    padding: 30px 0;
  
    & .display {
      display: flex;
      gap: 0;
  
      & .left {
        width: 66%;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;

        & > a {
          margin-bottom: 0;
        }

        & .logo {
          display: none;
        }
      } // LEFT
  
      & .right {
        width: 33%;
        padding-top: 0;
        justify-content: center;

        & .menu_footer {
          display: none;
        }
      }
    }
  
    & .textInfo {
      justify-content: center;
      margin-top: 30px;
  
      & div {
        width: 100%;
        text-align: center;
      }
    }
  
    & .copy {
      font-size: reset.toRem(15);
      font-weight: 400;
      color: main.$ColorTwo;
    }
  }
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  footer {
    & .display {
      flex-wrap: wrap;
      gap: 15px 0;
      text-align: center;
  
      & .left {
        width: 100%;
        gap: 15px;
      } // LEFT
  
      & .right {
        width:100%;
      }
    }

    & h2 {
      margin-bottom: 5px;
    }
  }
}