@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  HEADER
  ========================================
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  border-bottom: #ffffff;
  transition: 0.3s all;
  
  & .container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all;

    & .logo a {
      display: block;

      & img {
        width: 230px;
      }
    }
    
    & .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 25px;

      & nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & li a {
          font-size: reset.toRem(14);
          font-weight: 600;
          color: main.$ColorTwo;
          padding: 10px 20px;


          &:hover {
            color: main.$ColorMain;
          }
        }
      }

      .special_links {
        display: flex;
        gap: 5px 10px;
        
        & .no_bg {
          background: transparent;
          
          &:hover {
            background: main.$ColorMain;
          }
        }
      }
    }
  } //CONTAINER

  &.fixed {
    background: rgb(2 10 57 / 60%);
    z-index: 100;

    & .navigation .special_links .no_bg {
      background: main.$ColorOne;
    }
  }
}

/********
RESPONSIVO
********/

/* DESKTOP LARGE - 1400px*/ 
@include main.breakpoint(smashDesktopLarge) {
  header {
    & .container {
      & .navigation {
        & nav ul {
          & li a {
            padding: 10px 10px;
            font-size: reset.toRem(13);
          }
        }
      }
    }
  }
}

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) {
  header {
    & .container {
      & .navigation {
        gap:0 5px;
      }

      & .logo a img {
          width: 180px;
      }
  
      & .special_links .buttonType1 {
        font-size: reset.toRem(12);
        height: 38px;
        padding: 10px 14px;
      }
    }
  }
}

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { 
  header {
    & .container {
      & .navigation {
        position: relative;
        justify-content: flex-end;
        flex-wrap: wrap;

        & .buttonType1 a {
          font-size: reset.toRem(16);
        }

        & .menu {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 10px;
        }

        & .button {
          height: 38px;
          width: 38px;
          background: main.$ColorMain url("../images/menu_icon.png") center no-repeat;
          transition: 0.3s all;
          border-radius: 5px;
        }

        & nav {
          position: absolute;
          right: 0;
          top: 38px;
          width: 200px;
          background: #ededed;
          display: flex;
          flex-wrap: wrap;
          opacity: 0;
          z-index: -1;
          visibility: collapse;
          transition: 0.2s all;
          border-radius: 6px;
          box-shadow: -2px 1px 9px -4px #000000;
          border-radius: 5px 5px 5px 5px;

          & ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            & li a {
              width: 100%;
              display: block;
              font-size: reset.toRem(16)!important;
              color: main.$ColorOne;
            }
          }
        }

        & .menu.ativo {
          & nav {
            opacity: 1;
            visibility: visible;
            z-index: inherit;
          }

          & .button {
            background: main.$ColorMain url("../images/menu-close.png") center no-repeat;
          }
        }
      } // NAVIGATION
    }
  }

}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  header {
    & .container {
      padding-top: 25px;

      & .navigation {
        padding-top: 15px;

        & nav {
          top: 52px;
        }

        & .special_links {
          position: fixed;
          width: 100%;
          top:0;
          left: 0;
          flex-wrap: wrap;
          gap: 8px 4%;
          padding: 10px 10px;

          & .buttonType1 {
            font-size: reset.toRem(13);
            width: 48%;
            text-align: center;
            height: 31px;
            padding: 5px 5px;
          }
        }
      }

    }
  }
}
