@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  INDEX
  ========================================
*/

.banner {
  height: 810px;
  background: main.$ColorFour url("../images/banner.jpg") right center no-repeat;

  & .container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 22px 0;

    & h1 {
      width: 100%;
      font-size: reset.toRem(40);
      font-weight: 800;
      color: main.$ColorTwo;
      letter-spacing: 0.1em;
    }
  }
}

/********
RESPONSIVE
*********/

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { 
  .banner {
    height: 600px;

    & .container {
      & h1 {
        font-size: reset.toRem(30);
      }
    }
  }
}

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smashTabletBig) {
  .banner {
    height: 450px;

    & .container {
      & h1 {
        font-size: reset.toRem(25);
      }
    }
  }
}


/*
  ========================================
  A EMPRESA
  ========================================
*/

.contentEmpresa {
  background: main.$ColorTwo;

  & .containerLarge {
    max-width: 1440px;
    margin: 0 auto;
    background: url("../images/bg_empresa.jpg") left center no-repeat;
  }

  & .container {
    height: 560px;
    display: flex;
    justify-content: flex-end;

    & .content {
      background: #ffffff;
      width: 550px;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 0 0 75px;

      & h1 {
        font-size: reset.toRem(48);
        font-weight: 300;
        color: main.$ColorOne;
        padding: 0 0 0 35px;
        background: url("../images/retangulo.png") left center no-repeat;
        margin-bottom: 25px;

        & mark {
          color: main.$ColorMain;
          background: none;
          font-weight: 700;
        }
      }

      & p {
        margin-bottom: 50px;

        & b {
          font-weight: 700;
        }
      }
    }
  }
}

/********
RESPONSIVE
*********/

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  .contentEmpresa {
    background: main.$ColorTwo;
  
    & .containerLarge {
      background: none;
    }
  
    & .container {
      height: auto;
      justify-content: flex-start;
  
      & .content {
        width: 100%;
        padding: 30px;
  
        & h1 {
          font-size: reset.toRem(40);
          margin-bottom: 20px;
        }
  
        & p {
          margin-bottom: 30px;
        }

        & div a {
          display:inline-block;
        }
      }
    }
  }
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  .contentEmpresa {
    & .container {
      & .content {
        padding: 30px 0;

        & h1 {
          font-size: reset.toRem(30);
        }
      }
    }
  }
}


/*
  ========================================
  NUMEROS
  ========================================
*/

.contentNumbers {
  padding: 100px 0 180px 0;
  background: main.$ColorThree;

  & .container {
 
    & ul {
      display: flex;
      justify-content: space-between;
      gap: 10px 15px;

      & li {
        color:main.$ColorTwo;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-content:flex-start;

        & .text_green {
          display: flex;
          justify-content: center;
          width: 100%;
          color:main.$ColorMain;
          font-size: reset.toRem(50);
          font-weight: 700;
          height: 70px;
          margin-bottom: 20px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            height: 5px;
            width: 33px;
            border-radius: 5px;
            background: main.$ColorMain;
            bottom: -6px;
          }

          & small {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            font-size: reset.toRem(22);
            font-weight: 600;
            position: relative;
            top: 8px;
          }
        }

        & .text_down {
          color:main.$ColorTwo;
          font-size: reset.toRem(15);
          font-weight: 700;
          height: auto;

          & small {
            display: block;
            width: 100%;
            font-size: reset.toRem(15);
            font-weight: 300;
            letter-spacing: 0;
            color: #8a8a8a;
          }
        }
      }
    }
  }
}

/********
RESPONSIVE
*********/

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) {
  .contentNumbers {
    padding: 40px 0 80px 0;
  }
}

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  .contentNumbers {  
    & .container {
      & ul {
        flex-wrap: wrap;
        gap: 20px 2%;
  
        & li {
          width: 30%;

          & .text_green {
            font-size: reset.toRem(40);
            height: 60px;
            margin-bottom: 15px;
            
            & small {
              font-size: reset.toRem(14);
            }
          }

          & .text_down {
            font-size: reset.toRem(13); 
          }
        }
      }
    }
  }
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  .contentNumbers {  
    padding: 30px 0;

    & .container {
      & ul {
        & li {

          & .text_green {
            font-size: reset.toRem(30);
            height: 40px;
          }
        }
      }
    }
  }
}

/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) {
  .contentNumbers {  
    & .container {
      & ul {  
        & li {
          width: 48%;
        }
      }
    }
  }
}



/*
  ========================================
  FUNDOS
  ========================================
*/

.contentFundos {
  position: relative;
  padding-bottom: 150px;

  background: -moz-linear-gradient(top, rgba(252,252,252,0.42) -19800%, rgba(253,253,253,0.42) -14400%, rgba(255,255,255,1) 0%);
  background: -webkit-linear-gradient(top, rgba(252,252,252,0.42) -19800%,rgba(253,253,253,0.42) -14400%,rgba(255,255,255,1) 0%);
  background: linear-gradient(to bottom, rgba(252,252,252,0.42) -19800%,rgba(253,253,253,0.42) -14400%,rgba(255,255,255,1) 0%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bfcfcfc', endColorstr='#ffffff',GradientType=0 );

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    width: 100%;
    height: 370px;
    background: main.$ColorThree;
  }

  & .container {
    background: -moz-linear-gradient(top, rgba(242,237,238,0.42) -19800%, rgba(246,241,241,0.42) -14400%, rgba(255,250,250,1) 0%);
    background: -webkit-linear-gradient(top, rgba(242,237,238,0.42) -19800%,rgba(246,241,241,0.42) -14400%,rgba(255,250,250,1) 0%);
    background: linear-gradient(to bottom, rgba(242,237,238,0.42) -19800%,rgba(246,241,241,0.42) -14400%,rgba(255,250,250,1) 0%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bf2edee', endColorstr='#fffafa',GradientType=0 );

    padding-bottom: 100px;
  }

  & .textTop {
    height: 460px;
    background: #fffafa;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    & .boxBig {
      width: 640px;
      padding: 50px 0 0 50px;

      & h1 {
        font-size: reset.toRem(48);
        font-weight: 700;
        color: main.$ColorMain;
        padding: 0 0 0 35px;
        background: url("../images/retangulo.png") left center no-repeat;
        margin-bottom: 25px;
      }
    }

    & .boxSmall {
      width: 605px;
      height: 350px;
      background: main.$ColorMain;
      position: relative;
      top: 106px;
      z-index: 2;
      padding: 80px 105px 0 65px;
      font-size: reset.toRem(36);
      color: main.$ColorOne;
      font-weight: 700;

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top:-106px;
        right: 0;
        width: 88%;
        height: 106px;
        background: main.$ColorThree;
      }
    }
  }

  & .listFundos {
    & ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & li {
        width: 605px;

        & img {
          margin-bottom: 20px;
        }

        & h2 {
          font-size: reset.toRem(20);
          color: main.$ColorOne;
          font-weight: 700;
          margin-bottom: 15px;
        }

        & p {
          margin-bottom: 35px;
        }
      }
    }

    & .center {
      width: 100%;
      text-align: center;
    }
  }
}


/*
  ========================================
  NEWSLETTER
  ========================================
*/

.contentNewsletter {
    margin-top: -150px;
    position: relative;

    & .container {
      background: #ffffff;
      height: 280px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      & h2 {
        font-size: reset.toRem(36);
        color: main.$ColorOne;
        font-weight: 700;
        margin-bottom: 40px;
        letter-spacing: 0.5px;
      }

      & .inputs form {
        display: flex;
      }

      & .inputs input[type="text"] {
        width: 480px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-right: none;
      }

      & .inputs input[type="submit"] {
        width: 265px;
        border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      }
    }
}

/********
RESPONSIVE
*********/

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  .contentNewsletter {
    margin-top: 0;

    & .container {
      padding: 30px 0;
      height: auto;

      & .content {
        width: 80%;

        & h2 {
          font-size: reset.toRem(28);
          margin-bottom: 20px;
        }

        & .inputs form {
          justify-content: center;
        }
  
      }
    }
  }
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  .contentNewsletter {
    & .container {
      & .content {
        width: 100%;
        padding: 0 20px;

        & h2 {
          font-size: reset.toRem(22);
          margin-bottom: 20px;
        }
      }

      & .inputs input[type="text"] {
        font-size: reset.toRem(15);
      }

      & .inputs input[type="submit"] {
        font-size: reset.toRem(16);
      }
    }
  }
}

/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) {
  .contentNewsletter {
    & .container {
      & .content {
        & h2 {
          font-size: reset.toRem(18);
          margin-bottom: 10px;
        }
      }

      & .inputs form {
        flex-wrap: wrap;

        & input[type="text"] {
          width: 100%;
          border-radius: 25px;
          border-right: 1px solid #e0e0e0;
          text-align: center;
          margin-bottom: 5px;
        }
  
        & input[type="submit"] {
          width: 100%;
          border-radius: 25px;
        }
      }
    }
  }
}
